<!DOCTYPE html>

<html>
<head>
    <title>Blog Tutorial</title>
    <script src="/Scripts/jquery-1.8.2.min.js" language="javascript" type="text/javascript"></script>
    <script src="/Scripts/jquery-ui-1.8.24.min.js" language="javascript" type="text/javascript"></script>
    <script src="/Scripts/Util.js" language="javascript" type="text/javascript"></script>
</head>
<body>
    <script language="javascript" type="text/javascript">
        $(document).ready(function() {
            AJAXLoadData("/Method/GetSpoofedInfo", null, function (msg) {
                $(".obj_lstNames li").not(".obj_static").remove();

                var template = $(".obj_lstNames .obj_template");
                $.each(msg.Data.Names, function (index, item) {

                    var ListItem = template.clone();
                    ListItem.text(item.Name);
                    ListItem.insertBefore(template);
                    ListItem.removeClass("obj_template").removeClass("obj_static").show();
                });
            });
        })
    </script>

    <h1>Welcome!</h1>

    <ul class="obj_lstNames">
        <li class="obj_template obj_static" style="display: none;"></li>
        <li>Loading...</li>
    </ul>
</body>
</html>